<!-- Show modal on load if adding failed -->
<% if @newContact.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#addContactModal").modal("show"); });
</script>
<% end %>


<script type="text/javascript">
  function showMore(select, val, target) {
    if (select.value === val) {
      $(target).collapse('show');
    }
    else {
      $(target).collapse('hide');
    };
  };
 </script>

<div id="addContactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adding contact</h4>
      </div>
      
      <%= form_for @newContact do |f| %>
      <div class="modal-body">
            <%= render 'shared/error_messages', object: f.object %>
            
            
              <%= fields_for "contact_relation[]", @newContactRel do |c| %>
                    <% if @client %> 
                      <%= c.hidden_field :contact_person_id, value: "only_person" %>
                    <% else %>
                      <%= c.label :contact_person_id, "Select person" %>
                      <%= c.select :contact_person_id, #take all clients contacts and delete those who are already added
                               @offer.client.contact_people.map{ |p| [p.name, p.id] }.unshift(["Add new contact person", 'new'])-@offer.contact_people.map{ |p| [p.name, p.id] },
                               {prompt: 'Select'}, {class: "form-control", onChange: "showMore(this, 'new', '#AddContactField')"} %>
                      <%= c.hidden_field :offer_id, value: @offer.id %> 
                    <% end %>
              <% end %>
            
            <div class="collapse <% if @client %>in<% end %>" id="AddContactField">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            
            <%= f.label :tel %>
            <%= f.text_field :tel, class: "form-control" %>
            
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
            
            <%= f.label :occupation %>
            <%= f.text_field :occupation, class: "form-control" %>
                                  
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
            <% if @client %> 
               <%= f.hidden_field :client_id, value: @client.id %>
            <% else %>
              <%= f.hidden_field :client_id, value: @offer.client.id %>
            <% end %>
            </div>
      </div>
      <div class="modal-footer">
            <%= f.submit "Add contact", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>