<% if @client %>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    Contact people <small>(<%= @client.contact_people.count %>)</small>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addContactModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add new
      </button>
  </div>
  <div class="panel-body">
      <div class="table-responsive" >
        <table class="table  contact-table" id="contact_people_table">
          <tbody>
              <tr>
                <% @client.contact_people.each do |contact| %>
                <td>
                  <div class="pull-right">
                    <div class="dropdown" style="display: inline; cursor: pointer; z-index: 999">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right" >
                            <li><%= link_to 'Delete', contact_person_path(contact),
                                data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </div>
                  </div>
                	<span class="list-group-item-heading"><strong><%= contact.name %></strong></span>
                  <ul>
                    <% if !contact.occupation.blank? %>  <li><%= contact.occupation %></li><% end %>
                	  <% if !contact.tel.blank? %>         <li><i class="fa fa-phone" aria-hidden="true"></i> <%= contact.tel %></li><% end %>
                	  <% if !contact.email.blank? %>       <li><i class="fa fa-envelope" aria-hidden="true"></i> <%= contact.email %></li><% end %>
                	</ul>
                  <p class="text-muted" style="margin-top: 8px; margin-left: 15px;"><%= contact.description %></p>
                  
                </td>
                <% end %>
              </tr>
          </tbody>
        </table>
      </div>
    
  </div>
</div>
  


<% else %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <i class="fa fa-users" aria-hidden="true"></i> Contacts
    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#addContactModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
  </div>
  <div class="panel-body carousel" id="contactCarousel" data-ride="">
      
      
    <div class="carousel-inner" role="listbox">
      <% if @offer.contact_people.count == 0 %>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addContactModal">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Add first contact
        </button>
      <% else %>
        <%= render 'contact_people/contact_person' %>
      <% end %>
    </div>
    <div>

    <% if @offer.contact_people.count > 3 %>
      <ul class="pager" style="margin-top: 5px; margin-bottom:5px;">
        <li><a href="#contactCarousel" role="button" data-slide="prev"><</a></li>
        <li><a href="#contactCarousel" role="button" data-slide="next">></a></li>
      </ul>
    <% end %>
          

    </div>
  </div>
</div>
<% end %>