<% for i in 0..(@offer.contact_people.count/3) %>

    <div class="item <% if i == 0 %> active <% end %>">

    <% @offer.contact_people.offset(i*3).take(3).each do |contact| %>
            <div style="border-bottom: 1px solid rgb(200,200,200);">
            	<div class="pull-right">
                    <div class="dropdown" style="display: inline; cursor: pointer; z-index: 999">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right" >
                            <li><%= link_to 'Delete', contact_person_path(contact),
                                data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </div>
                </div>
            	<span class="list-group-item-heading"><strong><%= contact.name %></strong></span>
                <ul>
                  <% if !contact.occupation.blank? %>  <li><%= contact.occupation %></li><% end %>
            	  <% if !contact.tel.blank? %>         <li><i class="fa fa-phone" aria-hidden="true"></i> <%= contact.tel %></li><% end %>
            	  <% if !contact.email.blank? %>       <li><i class="fa fa-envelope" aria-hidden="true"></i> <%= contact.email %></li><% end %>
            	</ul>
                <p class="text-muted" style="margin-top: 8px; margin-left: 15px;"><%= contact.description %></p>
            </div>
    <% end %>
    </div>
<% end %>

