<div class="text-center">
<%= link_to image_tag('avatar.png', alt: 'avatar', class: 'img-circle', style: 'width:100px; height:100px; display:inline;'), user_path(current_user) %>
<h3><%= link_to current_user.name, user_path(current_user) %></h3>
</div>

<ul class="list-unstyled" style="font-size: 12px;">
    <li><b>OCCUPATION:</b> <%= current_user.occupation %></li>
    <li><b>ADDRESS:</b> <%= current_user.address %></li>
    <li><b>EMAIL:</b> <%= current_user.email %></li>
</ul>
<hr/>