<div class="row">
    <div class="col-sm-3">
        <%= render 'static_pages/accout_info' %>
        <%= render 'timelist/record_form', show_user: true %>
    </div>
    
    <div class="col-sm-9">
        <%= render 'timelist/timelist', show_project: true, show_user: true, projects_options: [["All", 'all'], ["My projects", 'my']] %>
    </div>
</div>
<hr>
