<%= render 'non_work_records/add_record_modal', record: @nonWorkRecord %>


<div class="row">
    <div class="col-sm-3">
        <%= render 'static_pages/accout_info' %>
        <%= render 'static_pages/user_info_panel' %>
        <%= render 'non_work_records/register_record_button' %>
        <%= render 'timelist/record_form' %>
    </div>
    
    <div class="col-sm-9">
        <%= render 'timelist/timelist', show_project: true, projects_options: [["All", 'all']] %>
    </div>
</div>
