<% ferie_records = current_user.no_work_records.where(non_work_type_id: 1).where("time_end >= ? ", Date.today) %>
<ul class="list-unstyled" style="margin-bottom: 20px;">
<% ferie_records.where(accepted: true).each do |record| %>
  <li class="bg-info" style="margin:10px; padding-left:6px; padding-right:6px">Your <b>Ferie</b> (<%= record.time_start.try(:strftime, '%d/%m') %>-<%= record.time_end.try(:strftime, '%d/%m') %>) are coming soon</li>
<% end %>
<% ferie_records.where(accepted: false).each do |record| %>
  <li class="bg-info" style="margin:10px; padding-left:6px; padding-right:6px">Your <b>Ferie Request</b> (<%= record.time_start.try(:strftime, '%d/%m') %>-<%= record.time_end.try(:strftime, '%d/%m') %>) is waiting for approval</li>
<% end %>
</ul>