<% if logged_in? && current_user.admin? %>
    <%= render 'static_pages/admin_dashboard' %>
<% elsif logged_in? && !current_user.admin? %>
    <%= render 'static_pages/user_dashboard' %>
<% else %>
    <%= render 'sessions/new' %>
<% end %>