<% provide(:title, "Login") %>

<div class="container">
    <div class="row hidden-sm hidden-xs" style="height: 120px;"></div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 well">
            <h1>Welcome to Christiania Stillas.</h1>
            <p>Please log in</p>
            <%= form_for(:session, url: root_path, html: { class: "form-inline" }) do |f| %>
                <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
                <%= f.password_field :password, class: "form-control", placeholder: "******" %>
                <%= f.label :remember_me, class: "checkbox", style: "margin-top:8px;" do %>
                    <%= f.check_box :remember_me %>
                    Remember me on this computer
                <% end %>
                <%= f.submit "Log in", class: "btn btn-primary pull-right" %>
            <% end %>

            <hr>
            <a href="#pwdrecovery" data-toggle="collapse" class="pull-right">Can't log in?</a>
            <div class="clearfix"></div>
            <div id="pwdrecovery" class="collapse">
                <h3>Don't worry!</h3>
                <p>We will send you an email with your ID and password reset link.</p>
                <form role="form">
                    <div class="form-group">
                        <label for="email">Please enter your email address:</label>
                        <input type="email" placeholder="email@example.com" class="form-control" id="email">
                    </div>
                    <button type="submit" class="btn btn-default">Send!</button>
                </form>
            </div>
        </div>
    </div>
    
</div>