<div class="message-item">
	<div class="message-inner">
		<div class="message-head clearfix">
			<div class="icon pull-left"><i class="fa fa-<%= item.icon %>" aria-hidden="true"></i></div>
			<div class="user-detail">
				<h5 class="handle"><%= item.title %></h5>
				<div class="post-meta">
					<div class="asker-meta">
						<span class="qa-message-what"></span>
						<span class="qa-message-when">
							<span class="qa-message-when-data"><%= item.date %></span>
						</span>
						<span class="qa-message-who">
							<span class="qa-message-who-pad"> <!-- wpisać tu "by" jak dodam kolumne created_by --> </span>
							<span class="qa-message-who-data"> <!-- link do profilu osoby created_by --> </span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="qa-message-content">
			<%= item.message %>
		</div>
    </div>
</div>