
    <div class="center">
      <button type="button" class="btn btn-info btn-sm" style="display:inline; margin-bottom: 15px;" data-toggle="modal" data-target="#addReminderModal"><i class="fa fa-calendar-plus-o"></i> Add reminder</button>
    </div>
	<div class="row">
	</div>
    <div class="qa-message-list" id="wallmessages">
    <% @offer.timeline.each do |item| %>
    
        <div class="message-item message-<%= item.status %>">
        	<div class="message-inner">
        		<div class="message-head clearfix">
        		    <% if item.source %>
        		    <div class="pull-right">
                        <div class="dropdown" style="display: inline; cursor: pointer;">
                          <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                          <ul class="dropdown-menu">
                            <li>
                                <%= link_to 'Delete', offer_reminder_path(item.source),
                                data: {:confirm => 'Are you sure?'}, :method => :delete %>    
                            </li>
                          </ul>
                        </div>
                    </div>
                    <% end %>
        			<div class="icon pull-left"><i class="fa fa-<%= item.icon %>" aria-hidden="true"></i></div>
        			<div class="user-detail">
        				<h5 class="handle"><%= item.title %></h5>
        				<div class="post-meta">
        					<div class="asker-meta">
        						<span class="qa-message-what"></span>
        						<span class="qa-message-when">
        							<span class="qa-message-when-data"><%= item.date.strftime("%B #{item.date.day.ordinalize}, %Y") %></span>
        						</span>
        						<span class="qa-message-who">
        							<span class="qa-message-who-pad"> <!-- wpisać tu "by" jak dodam kolumne created_by --> </span>
        							<span class="qa-message-who-data"> <!-- link do profilu osoby created_by --> </span>
        						</span>
        					</div>
        				</div>
        			</div>
        		</div>
        		<div class="qa-message-content">
        			<%= item.content %>
        		</div>
            </div>
        </div>
        
    <% end %>
	</div>