<!-- Show modal on load if adding failed -->
<% if @newReminder.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#addReminderModal").modal("show"); });
</script>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('#offer_reminder_date').datepicker({
      format: "dd/mm/yyyy",
      autoclose: true
      });
  });
</script>

<div id="addReminderModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adding new reminder</h4>
      </div>
      <%= form_for @newReminder do |f| %>
      <div class="modal-body">
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.hidden_field :offer_id, value: @offer.id %>
            
            <%= f.label :message %>
            <%= f.text_area :message, class: "form-control" %>
                         
            <%= f.label :date %>
            <%= f.text_field :date, class: "form-control", placeholder: "dd/mm/yyyy" %>
            <br/>
            <%= f.check_box :email %> <%= f.label :email, "Send me email" %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Add reminder", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>