<div class="alert alert-info reminder">
    <div class="pull-right">
        <span class="reminder-date">
            <%= offer_reminder.date %></i>
        </span>
        <div class="dropdown" style="display: inline; cursor: pointer;">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li>
            <%= link_to 'Delete', offer_reminder_path(offer_reminder),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>    
            </li>
            <li><a href="#">Dismiss</a></li>
          </ul>
        </div>
    </div>
    
    <strong><i class="fa fa-bell-o" aria-hidden="true"></i> Reminder </strong>
    <hr>
    <span><%= offer_reminder.message %></span>
</div>