<% #locales: show_user show_project default_user default_project %>
<% show_user ||= false %>
<% show_project = true if show_project.nil? %>
<% default_user ||= nil %>
<% default_project ||= nil %>

<script type="text/javascript">
$(function () {
    $('#work_record_time_start').datetimepicker({
        sideBySide: true,
        format: 'YYYY-MM-DD HH:mm',
    });
    $('#work_record_time_end').datetimepicker({
        sideBySide: true,
        format: 'YYYY-MM-DD HH:mm',
    });
});
</script>

<div class="panel panel-default">
    <div class="panel-heading">Add record</div>
    <div class="panel-body">
        <%= form_for @newRecord do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
            <% if show_user %>
            <div class="form-group form-group-sm">
                <%= f.label :user_id, "Scaffolder:" %>
                <%= f.select :user_id, 
                         User.where(admin: false).map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>
            </div>
            <% elsif default_user %>
                <%= f.hidden_field :user_id, value: default_user.id %>
            <% end %>
            
            
            
            <div class="form-group form-group-sm">
                <%= f.label :time_start, "Start time:" %>
                <% f.object.time_start = f.object.time_start.strftime('%Y-%m-%d %k:%M') %>
                <%= f.datetime_local_field :time_start, value: f.object.time_start.strftime('%Y-%m-%d %k:%M'), class: "form-control" %>
            </div>
            <div class="form-group form-group-sm">
                <%= f.label :time_end, "End time:" %>
                <% f.object.time_end = f.object.time_end.strftime('%Y-%m-%d %k:%M') if f.object.time_end.is_a? ActiveSupport::TimeWithZone  %>
                <%= f.datetime_local_field :time_end, value: f.object.time_end.strftime('%Y-%m-%d %k:%M') || '', class: "form-control" %>
            </div>
            <% if show_project %>
            <div class="form-group form-group-sm">
                <%= f.label :project_id, "Workplace:" %>
                <%= f.select :project_id, 
                         Project.all.map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>
            </div>
            <% elsif default_project %>
                <%= f.hidden_field :project_id, value: default_project.id %>
            <% end %>
            <div class="form-group form-group-sm">
                <%= f.label :description, "Description:" %>
                <%= f.text_area :description, class: "form-control" %>
            </div>
            <%= f.submit "Add record", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>