<% #locales: time_from, time_to, users_options, selected_user, show_user, show_project, projects_options, seleced_project, notconf %>
<% show_user ||= false %>
<% show_project ||= false %>

<script type="text/javascript">
  $(function () {
    $('#from').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
    });
    $('#to').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
    });
  });
</script>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag request.path, method: 'get', class: 'form-inline' do %>
      <div class="form-group form-group-sm">
        <%= label_tag :from, 'From: ' %>
        <%= date_field_tag :from, time_from.strftime('%Y-%m-%d'), class: 'form-control' %>
      </div>
      <div class="form-group form-group-sm">
        <%= label_tag :to, 'To: ' %>
        <%= date_field_tag :to, time_to.strftime('%Y-%m-%d'), class: 'form-control' %>
      </div>
      
      <% if show_user %>
        <div class="form-group form-group-sm">
        <%= label_tag :user, "Scaffolder: " %>
        <% options = User.where(admin:false).map{ |c| [c.name, c.id] } %>
        <% users_options.each do |o| options.unshift(o) end %>
        <%= select nil, :user, options, 
                        {selected: selected_user, name: 'user'}, {class: "form-control", style: "max-width: 200px;"} %>
        </div>
      <% end %>
      <% if show_project %>
      <div class="form-group form-group-sm">
        <%= label_tag :project, "Project: " %>
        <% options = Project.all.map{ |c| [c.name, c.id] } %>
        <% projects_options.each do |o| options.unshift(o) end %>
        <%= select nil, :project, options, 
                        {selected: selected_project, name: 'project'}, {class: "form-control", style: "max-width: 200px;"} %>
      </div>
      <% end %>
      <div class="checkbox">
        <label><%= check_box_tag 'notconf', 1, notconf %> Only not confirmed</label>
      </div>
      <%= button_tag 'Show', name: nil, class: 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>