<% # locales: show_user: bool, show_project: bool, projects_options: [[name, id],[name, id]] %>
<% show_user ||= false %>
<% show_project ||= false %>


<%= render 'timelist/search', time_from: @from,
                              time_to: @to,
                              show_user: show_user,
                              show_project: show_project,
                              users_options: [["All", 'all']],
                              selected_user: @user,
                              projects_options: projects_options,
                              selected_project: @project,
                              notconf: @notconf  %>
        
<div class="table-responsive" style="box-shadow: -3px 3px 5px #ccc;">
  <table class="table table-striped table-hover">
  <thead style="background-color: #eee;">
              <tr>
                <th>Date</th>
              <% if show_user %>
                <th>Name</th> 
              <% end %>
                <th>Time</th>
              <% if show_project %>
                <th>Project</th>
              <% end %>
                <th>Hours</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
  </thead>
  <tbody>
  <%= render @records, show_user: show_user, show_project: show_project %>
  </tbody>
  </table>
  <div class="pull-right">
    <%= will_paginate @records %>
  </div>
</div>
