<!-- Show modal on load if adding failed -->
<% if @user.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#editUserModal").modal("show"); });
</script>
<% end %>

<div id="editUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update user info</h4>
      </div>
      <%= form_for @user do |f| %>
      <div class="modal-body">
        
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
            
            <%= f.label :address %>
            <%= f.text_area :address, class: "form-control" %>
            
            <%= f.label :occupation %>
            <%= f.text_field :occupation, class: "form-control" %>
            
            <% if current_user.admin? %>
              <%= f.check_box :admin %> <%= f.label :admin %>
            <% end %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>