<tr>
    <td><%= link_to user.name, user_path(user) %> <% if user.admin?%><small>(admin)</small> <% end %></td>
    <td><%= user.email %></td>
    <td><%= user.address %></td>
    <td>active</td>
    <td>
        <%= button_to(user, 
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-xs") do %> 
        <i class="fa fa-trash"></i>
                        <% end %>
            <!--            
        <%= button_to(users_path, params: { edit_user: user.id },
                        method: :get,
                        class: "btn btn-primary btn-xs") do %> 
        <i class="fa fa-pencil-square-o"></i>
                        <% end %>
                        
            -->
    </td>
</tr>