<div class="table-responsive" >
    <table class="table table-hover table-condensed" id="users_table">
    <thead>
      <tr>
        <th data-column-id="Name">Name</th>
        <th data-column-id="Email">Email</th>
        <th data-column-id="Address">Address</th>
        <th data-column-id="Status" data-sortable="false">Status</th>
        <th data-column-id="Actions" data-sortable="false">Actions</th>
      </tr>
    </thead>
    <tbody>
        <%= render @users.where(admin: true) %>
        <%= render @users.where(admin: false) %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
