<%= render 'add_user_modal' %>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <i class="fa fa-users" aria-hidden="true"></i> Users <small>(<%= @users.count %>)</small>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addUserModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add new user
      </button>
  </div>
  <div class="panel-body"> <%= render 'users_table' %> </div>
</div>
