<% provide(:title, @user.name) %>
<%= render 'edit_user_modal' %>

<div class="row" >
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
    <div class="well">
      <%= image_tag 'avatar.png', alt: "avatar", class: "img-circle pull-left", style: "display:inline; width:70px; height:70px;" %>
      <span><%= @user.name %></span><br/>
      <span><%= @user.occupation %></span>
      <div class="clearfix"></div>
      <hr/>
      <button type="button" class="btn btn-info btn-sm" style="display:inline;" data-toggle="modal" data-target="#editUserModal"><i class="fa fa-pencil-square-o"></i> Update info</button>
      <%= button_to(@user, 
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-sm") do %> <i class="fa fa-trash"></i> Delete user<% end %>
    </div>
  </div>
  
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        Offers <small>(<%= @user.offers.count %>)</small>
      </div>
      <div class="panel-body"><%= render 'offers/offer_table' %></div>
    </div>
  </div>
</div>

  



