<tr id='record-<%=record.id%>'>
    <td colspan='3'>
        <center>
            <%= record.non_work_type.title %><br/>
            <%= record.time_start.try(:strftime, '%d/%m') %> - <%= record.time_end.try(:strftime, '%d/%m') %>
        </center>
    </td>
    <td></td>
    <td>
        <% if record.accepted %>
            <span class="label label-success" title="Confirmed">✓</span>
        <% else %>
            <span class="label label-default" title="Waiting for confirmation">?</span>
        <% end %>
    </td>
    <td>
        <% if current_user.admin? %>
            <% if record.accepted %>
                <%= form_for record, html: {style: "display: inline;"} do |r| %>
                    <%= r.hidden_field :accepted, value: false %>
                    <%= button_tag(type: 'submit', class: "btn btn-info btn-xs", title: "unaccept record") do %>
                        <i class="fa fa-check-circle-o"></i>
                    <% end %>
                <% end %>
            <% else %>
                <%= form_for record, html: {style: "display: inline;"} do |r| %>
                    <%= r.hidden_field :accepted, value: true %>
                    <%= button_tag(type: 'submit', class: "btn btn-warning btn-xs", title: "accept record") do %>
                        <i class="fa fa-circle-o"></i>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <% unless record.accepted? %>
            <%= button_to(record,
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-xs", title: "Delete") do %>
                <i class="fa fa-trash"></i>
            <% end %>
        <% else %>
            <button class="btn btn-danger btn-xs" disabled><i class="fa fa-trash"></i></button>
        <% end %>
    </td>
</tr>