<tr id="record-<%= record.id %>">
    <td><%= record.time_start.try(:strftime, '%d/%m') %></td>
    <% if show_user %> <td><%= link_to record.user.name, user_path(record.user) %></td><% end %>
    <td><%= record.time_start.try(:strftime, '%H:%M') %> - <%= record.time_end.try(:strftime, '%H:%M') %></td>
    <% if show_project %><td><%= link_to_if current_user.admin?, record.project.try(:name), record.project %></td><% end %>
    <td>

                  <% record.hours_hash.each do |key, value| %>
                      <% case key %>
                      <% when 'hours_ord'; label = 'info'; title = 'Ordinary' %>
                      <% when 'hours_50'; label = 'primary'; title = '50% premium' %>
                      <% when 'hours_100'; label = 'success'; title = '100% premium' %>
                      <% else label = 'default'; title = ''; end %>
                      <span class="label label-<%= label %>" title="<%= title %>"><%= value %></span>
                      
                  <% end %>
    </td>
    <td>
        <% if record.accepted %>
            <span class="label label-success" title="Confirmed">✓</span>
        <% else %>
            <span class="label label-default" title="Waiting for confirmation">?</span>
        <% end %>
    </td>
    <td>
        <% if current_user.admin? %>
            <% if record.accepted %>
                <%= form_for record, html: {style: "display: inline;"} do |r| %>
                    <%= r.hidden_field :accepted, value: false %>
                    <%= button_tag(type: 'submit', class: "btn btn-info btn-xs", title: "unaccept record") do %>
                        <i class="fa fa-check-circle-o"></i>
                    <% end %>
                <% end %>
            <% else %>
                <%= form_for record, html: {style: "display: inline;"} do |r| %>
                    <%= r.hidden_field :accepted, value: true %>
                    <%= button_tag(type: 'submit', class: "btn btn-warning btn-xs", title: "accept record") do %>
                        <i class="fa fa-circle-o"></i>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <% unless record.accepted? %>
            <%= button_to(record,
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-xs", title: "Delete") do %>
                <i class="fa fa-trash"></i>
            <% end %>
        <% else %>
            <button class="btn btn-danger btn-xs" disabled><i class="fa fa-trash"></i></button>
        <% end %>
    </td>
</tr>