<div class="table-responsive" >
    <table class="table table-hover table-condensed" id="clients_table">
    <thead>
      <tr>
        <th data-column-id="Name">Name</th>
        <th data-column-id="Address">Address</th>
        <th data-column-id="Status" data-sortable="false">Status</th>
      </tr>
    </thead>
    <tbody>
        <%= render @clients %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
