<!-- Show modal on load if adding failed -->
<% if @client.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#editClientModal").modal("show"); });
</script>
<% end %>

<div id="editClientModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update client info</h4>
      </div>
      <%= form_for @client do |f| %>
      <div class="modal-body">
        
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            
            <%= f.label :address %>
            <%= f.text_area :address, class: "form-control" %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>