<%= render 'add_client_modal' %>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <i class="fa fa-briefcase" aria-hidden="true"></i> Clients <small>(<%= @clients.count %>)</small>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addClientModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add new client
      </button>
  </div>
  <div class="panel-body"> <%= render 'clients_table' %> </div>
</div>
