<% provide(:title, @client.name) %>

<%= render 'clients/edit_client_modal' %>
<%= render 'projects/add_project_modal' %>
<%= render 'contact_people/add_contact_modal' %>

<div class="row" >
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
    <div class="well">
      <h2><%= @client.name %></h2>
      <span><%= @client.address %></span><br/>
      <span><%= pluralize(@client.projects.where(status: "in progress").count, 'active project') %> (<%= @client.projects.count %> total)</span>
      <div class="clearfix"></div>
      <hr/>
      <button type="button" class="btn btn-info btn-sm" style="display:inline;" data-toggle="modal" data-target="#editClientModal"><i class="fa fa-pencil-square-o"></i> Update info</button>
      <%= button_to(@client, 
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-sm") do %> <i class="fa fa-trash"></i> Delete client<% end %>
    </div>
  </div>
  
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      
      <%= render 'contact_people/contacts' %>
      
  </div>
  
  
</div>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    Projects <small>(<%= @client.projects.count %>)</small>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addProjectModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add new project
      </button>
  </div>
  <div class="panel-body"> <%= render 'projects/projects_table' %> </div>
</div>




