<!-- Show modal on load if adding failed -->
<% if @newProject.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#addProjectModal").modal("show"); });
</script>
<% end %>

<div id="addProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adding new project</h4>
      </div>
      <%= form_for @newProject do |f| %>
      <div class="modal-body">
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            
            <% if @client %>
            <%= f.hidden_field :client_id, value: @client.id %>
            <% else %>
            <%= f.label :client %>
            <%= f.select :client_id, 
                         @clients.map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>
            <% end %>
            
             <%= f.label :user, "Responsible person:" %>
            <%= f.select :user_id,
                         User.where(admin: true).map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>
                         
            <%= f.label :csnumber %>
            <%= f.text_field :csnumber, class: "form-control" %>
            
            <%= f.label :address %>
            <%= f.text_area :address, class: "form-control" %>
            
            <%= f.label :status %>
            <%= f.select :status, ["pending", "in progress", "finished"],
                                  { prompt: 'Select', selected: "pending" },
                                  { class: "form-control" } %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Create project", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>