<!-- Show modal on load if adding failed -->
<% if @project.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#editProjectModal").modal("show"); });
</script>
<% end %>

<div id="editProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update project info</h4>
      </div>
      <%= form_for @project do |f| %>
      <div class="modal-body">
        
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            
            <%= f.label :csnumber %>
            <%= f.text_field :csnumber, class: "form-control" %>
            
            <%= f.label :address %>
            <%= f.text_area :address, class: "form-control" %>
            
            <%= f.label :status %>
            <%= f.select :status, ["pending", "in progress", "finished"],
                                  { prompt: 'Select' },
                                  { class: "form-control" } %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>