<tr id="<%= project.id %>">
    <td><%= link_to project.name, project %></td>
    <% if !@client #do not show this column on client page %>
    <td><%= link_to project.client.name, project.client %></td>
    <% end %>
    <td><%= project.csnumber %></td>
    <td><%= project.address %></td>
    <td><%= project.status %></td>
</tr>