<div class="table-responsive" >
    <table class="table table-hover table-condensed" id="clients_table">
    <thead>
      <tr>
        <th data-column-id="Name">Name</th>
        <% if !@client #do not show this column on client page %> 
        <th data-column-id="Client">Client</th>
        <% end %>
        <th data-column-id="CSNumber">CSNumber</th>
        <th data-column-id="Address">Address</th>
        <th data-column-id="Status" data-sortable="false">Status</th>
      </tr>
    </thead>
    <tbody>
        <%= render @projects %>
    </tbody>
  </table>
</div>

<%= will_paginate @projects %>