<%= render 'add_project_modal' %>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <i class="fa fa-cubes" aria-hidden="true"></i> Projects <small>(<%= @projects.count %>)</small>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addProjectModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add new project
      </button>
  </div>
  <div class="panel-body"> <%= render 'projects_table' %> </div>
</div>
