<% provide(:title, @project.name) %>
<%= render 'edit_project_modal' %>
<%= render 'offers/add_offer_modal' %>


<div class="row" >
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
    <div class="well">
      <h2><%= @project.name %></h2>
      <span><%= @project.address %></span><br/>
      <span class="pull-right"><%= link_to @project.client.name, client_path(@project.client) %></span>
      <div class="clearfix"></div>
      <hr style="margin-top: 3px;"/>
      <button type="button" class="btn btn-info btn-sm" style="display:inline;" data-toggle="modal" data-target="#editProjectModal"><i class="fa fa-pencil-square-o"></i> Update info</button>
      <%= button_to(@project, 
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-sm") do %> <i class="fa fa-trash"></i> Delete project<% end %>
    </div>
    <% if @project.should_be_updated? %>
      <div class="alert alert-warning reminder">
        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
        <span>Project info is incomplete</span>
      </div>
    <% end %>
    
  </div>
  
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        <i class="fa fa-folder-open" aria-hidden="true"></i> Offers <small>(<%= @project.offers.count %>)</small>
        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addOfferModal">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add new offer
          </button>
      </div>
      <div class="panel-body"> <%= render 'offers/offer_table' %> </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <%= render 'timelist/record_form', show_user: true, show_project: false, default_project: @project %>
    </div>
    
    <div class="col-sm-9">
        <%= render 'timelist/timelist', show_user: true, show_project: false, projects_options: [["All", 'all']] %>
    </div>
</div>
