<% # locales: record:NonWorkRecord %>

<!-- Show modal on load if adding failed -->
<% if record.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#addRecordModal").modal("show"); });
</script>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('#no_work_record_time_start').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
      });
      
    $('#no_work_record_time_end').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
      });
  });
</script>

<div id="addRecordModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal_title">Register absence</h4>
      </div>
      <%= form_for record do |f| %>
      <div class="modal-body">
            <%= render 'shared/error_messages', object: f.object %>
            
            <%= f.label :non_work_type_id, "Type" %>
            <%= f.select :non_work_type_id, 
                          NonWorkType.all.map{ |type| [type.title, type.id] },
                          {prompt: 'Select'}, {class: "form-control"}%>
            
            <%= f.label :time_start %>
            <%= f.text_field :time_start, class: "form-control" %>
            
            <%= f.label :time_end %>
            <%= f.text_field :time_end, class: "form-control" %>

            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
        
      </div>
      <div class="modal-footer">
            <%= f.submit "Ask for Ferie", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>