<div class="btn-group btn-group-justified" style="margin-bottom:15px;">
    <div class="btn-group">
        <button type="button"
            class="btn btn-primary btn-lg btn-show-record-modal"
            data-toggle="modal"
            data-target="#addRecordModal">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                Register absence
        </button>
    </div>
</div>