<!-- Show modal on load if adding failed -->
<% if @newOffer.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#addOfferModal").modal("show"); });
</script>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('#offer_deadline').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
      });
      
    $('#offer_start_date').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
      });
      
    if (document.getElementById('offer_project_id').value === 'add') { $('#AddProjectNameField').collapse('show'); }
  });

  function showMore(select, val, target) {
    if (select.value === val) {
      $(target).collapse('show');
    }
    else {
      $(target).collapse('hide');
    };
  };
 </script>

<div id="addOfferModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adding new offer</h4>
      </div>
      <%= form_for @newOffer do |f| %>
      <div class="modal-body">
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
            
            <% if @project %>
              <%= f.hidden_field :client_id, value: @project.client_id %>
              <%= f.hidden_field :project_id, value: @project.id %>
            <% else %>
              <%= f.label :client %>
              <%= f.select :client_id, 
                           @clients.map{ |c| [c.name, c.id] }.unshift(["New client", 'new']),
                           {prompt: 'Select'}, {class: "form-control", onChange: "showMore(this, 'new', '#AddClientField')"} %>
              
              <%= fields_for "client[]", @client do |c| %>
                <div class="collapse" id="AddClientField">
                  <%= c.label :name, "Client name" %>
                  <%= c.text_field :name, class: "form-control", placeholder: "ABC Company" %>
                </div>
              <% end %>
              
              
              <%= f.label :project %>
              <%= f.select :project_id,
                           @projects.map{ |c| [c.name, c.id] }.unshift(["New project", 'new']), 
                           {prompt: 'Select'}, {class: "form-control"} %>
            <% end %>
            <div class="left-column">
              <%= f.label :deadline, "Deadline" %>
              <%= f.text_field :deadline, class: "form-control", placeholder: "yyyy-mm-dd" %>
            </div>     
            <div class="right-column">
              <%= f.label :start_date, "Project start date" %>
              <%= f.text_field :start_date, class: "form-control", placeholder: "yyyy-mm-dd" %>
            </div> 
                         
            <%= f.label :user, "Responsible person:" %>
            <%= f.select :user_id,
                         @admins.map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>

            <%= f.label :status %>
            <%= f.select :status, ["pending", "in progress", "finished"],
                                  { prompt: 'Select', selected: "pending" },
                                  { class: "form-control" } %>
                                  
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
            
            <%= f.check_box :set_reminder %> <%= f.label :set_reminder %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Create offer", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>