<!-- Show modal on load if adding failed -->
<% if @offer.errors.any? %> 
<script> $(document).ready(function(){ 
    $("#editOfferModal").modal("show"); });
</script>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#offer_deadline').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
    });
    $('#offer_start_date').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true
      });
  });
</script>

<div id="editOfferModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update offer info</h4>
      </div>
      <%= form_for @offer do |f| %>
      <div class="modal-body">
        
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label :client %>
            <%= f.select :client_id, 
                         @clients.map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>

            <%= f.label :project %>
            <%= f.select :project_id, 
                         @projects.map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>
                         
            <div class="left-column">
              <%= f.label :deadline, "Deadline" %>
              <%= f.text_field :deadline, class: "form-control", placeholder: "yyyy-mm-dd" %>
            </div>     
            <div class="right-column">
              <%= f.label :start_date, "Project start date" %>
              <%= f.text_field :start_date, class: "form-control", placeholder: "yyyy-mm-dd" %>
            </div> 
                         
            <%= f.label :user, "Responsible person:" %>
            <%= f.select :user_id, 
                         @admins.map{ |c| [c.name, c.id] }, 
                         {prompt: 'Select'}, {class: "form-control"} %>

            <%= f.label :status %>
            <%= f.select :status, ["pending", "in progress", "finished"],
                                  { prompt: 'Select' },
                                  { class: "form-control" } %>
                                  
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %>
            
      </div>
      <div class="modal-footer">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>

  </div>
</div>