<% if @project %>

  <div class="table-responsive" >
      <table class="table table-hover table-condensed" id="clients_table">
      <thead>
        <tr>
          <th data-column-id="Identifier">ID</th>
          <th data-column-id="Name">Name</th>
          <th data-column-id="StartDate">Start date</th>
          <th data-colum-id="User">Responsible</th>
          <th data-column-id="Status" data-sortable="false">Status</th>
        </tr>
      </thead>
      <tbody>
          <%= render @project.offers %>
      </tbody>
    </table>
  </div>
<% elsif @user %>
<div class="table-responsive" >
  <table class="table table-hover table-condensed" id="clients_table">
    <thead>
      <tr>
        <th data-column-id="Identifier">ID</th>
        <th data-column-id="Name">Name</th>
        <th data-column-id="Client">Client</th>
        <th data-column-id="Project">Project</th>
        <th data-column-id="Status" data-sortable="false">Status</th>
      </tr>
    </thead>
    <tbody>
      <%= render @user.offers %>
    </tbody>
  </table>
</div>

<% else %>

  <div class="table-responsive" >
    <table class="table table-hover table-condensed" id="clients_table">
      <thead>
        <tr>
          <th data-column-id="Identifier">ID</th>
          <th data-column-id="Name">Name</th>
          <th data-column-id="Client">Client</th>
          <th data-column-id="Project">Project</th>
          <th data-column-id="Manager">Manager</th>
          <th data-column-id="Status" data-sortable="false">Status</th>
        </tr>
      </thead>
      <tbody>
          <%= render @offers %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @offers %>
  
<% end %>