<div class="container-fluid">
<div class="row">
  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 header well">
    <h1><%= @offer.name.upcase %></h1>
    <span>Responsible person: <%= link_to @offer.user.name, @offer.user %></span>
    <span>ID: <%= @offer.identifier %></span>
    <span>project: <%= link_to @offer.project.name, @offer.project %></span>
    <span>client: <%= link_to @offer.client.name, @offer.client %></span>
    <hr/>
    <span class="label label-info">
      <%= @offer.status %><% if @offer.deadline %>, deadline: <%= @offer.deadline %> <% end %><% if @offer.start_date %>, project starts: <%= @offer.start_date %> <% end %>
    </span>
    <div class="pull-right">
      <button type="button" class="btn btn-info btn-sm" style="display:inline;" data-toggle="modal" data-target="#editOfferModal"><i class="fa fa-pencil-square-o"></i> Update info</button>
      <%= button_to(@project, 
                        method: :delete,
                        data: {confirm: "You sure?"},
                        class: "btn btn-danger btn-sm") do %> <i class="fa fa-trash"></i> Delete offer<% end %>
    </div>
    <div class='clearfix'></div>
    <p><%= @offer.description %></p>
    <div class="offer-footer">created at: <%= @offer.created_at %></div>
  </div>
</div>
</div>