<% if @project %>

        <tr id="<%= offer.id %>">
            <td><%= offer.identifier %> </td>
            <td><%= link_to offer.name, offer %></td>
            <td><%= offer.start_date %></td>
            <td><%= link_to offer.user.name, offer.user %></td>
            <td><%= offer.status %></td>
        </tr>

<% elsif @user %>

        <tr id="<%= offer.id %>">
            <td><%= offer.identifier %> </td>
            <td><%= link_to offer.name, offer %></td>
            <td><%= link_to offer.client.name, offer.client %></td>
            <td><%= link_to offer.project.name, offer.project %></td>
            <td><%= offer.status %></td>
        </tr>

<% else %>

        <tr id="<%= offer.id %>">
            <td><%= offer.identifier %> </td>
            <td><%= link_to offer.name, offer %></td>
            <td><% if offer.client %><%= link_to offer.client.name, offer.client %><% end %></td>
            <td><%= link_to offer.project.name, offer.project %></td>
            <td><%= link_to offer.user.name, offer.user %></td>
            <td><%= offer.status %></td>
        </tr>

<% end %>