<%= render 'add_offer_modal' %>

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <i class="fa fa-folder-open" aria-hidden="true"></i> Offers <small>(<%= @offers.count %>)</small>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addOfferModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add new offer
      </button>
  </div>
  <div class="panel-body"> <%= render 'offer_table' %> </div>
</div>
