<% provide(:title, @offer.name) %>
<%= render 'offers/edit_offer_modal' %>
<%= render 'offer_reminders/add_reminder_modal' %>
<%= render 'contact_people/add_contact_modal' %>

<%= render 'offers/offer_header' %>


<!-- TO CHYBA TRZEBA WYWALIC -->
<script>
  $(window).on('scroll', function(){
	$timeline_block.each(function(){
		if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
		}
	});
});
</script>
<div class="container-fluid">
<div class="row">
	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
		<%= render 'contact_people/contacts' %>
	</div>
	<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
		<%= render 'offers/timeline/timeline' %>
	</div>
</div>
</div>



