@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.center {
  text-align: center;
}

/* notification */

.notification-show-more {
  display: block;
  text-align: center;
  font-size: small;
}

.notification-empty {
  width: 300px;
  text-align: center;
  margin-bottom: 15px;
}

.notification-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
   width: 300px;
  li {
   
    margin-bottom: 5px;
    padding: 5px 9px 5px 9px;
    border-bottom: 1px solid #ddd;
    &:hover {
      background-color: #fafafa;
    }
    
    a {
      display: block;
    }
    
    header {
      display: block;
      position: relative;
      i {
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 50%;
      }
      
      .notification-title {
        font-weight: bold;
      }
      .notification-date {
        font-size: small;
        color: #aaa;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    .notification-content {
      margin-left: 15px;
    }
  }
}


/* tables */

.panel-table {
  .panel-heading {
    font-size: 21px;
  }
}

.pagination {
  margin-top: 3px;
  margin-bottom: 3px;
}

.contact-table {
  margin-bottom: 0px;
    tbody {
      tr {
        td {
          min-width: 200px;
          padding-right: 20px;
          border-right: 1px solid #d6d6d6;
          
          ul {
            padding-left: 10px;
          }
        }
      }
    }
    
}


/* modals */

.left-column {
  width: 47%;
  float: left;
}
.right-column {
  width: 47%;
  float: right;
}


/* buttons */

.button_to {
  display:inline;
}

.btn-outline-primary {
  background-color: rgba(51,122,183,0);
  color: #337AB7;
}


/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  min-height: 20px;
  
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 20px;
    }
  }
}

/* development tools */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
