// Place all the styles related to the OfferReminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reminder {
    .reminder-date {
        color: rgba(49, 112, 143, 0.7);
    }
    
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}