<div class="table-responsive" >
    <table class="table table-hover table-condensed" id="clients_table">
    <thead>
      <tr>
        <th data-column-id="Identifier">ID</th>
        <th data-column-id="Name">Name</th>
        <th data-column-id="StartDate">Start date</th>
        <th data-colum-id="User">Responsible</th>
        <th data-column-id="Status" data-sortable="false">Status</th>
      </tr>
    </thead>
    <tbody>
        <%= render @project.offers %>
    </tbody>
  </table>
</div>