<footer class="footer">
  <small>
    The Timelist application
    by Piotr Borowiec.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Report a bug",   '#' %></li>
      <li><%= link_to "Get help", '#' %></li>
    </ul>
  </nav>
</footer>