<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
              <%= link_to "TIMELIST", root_path, class: 'navbar-brand' %>
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo" aria-expanded="false">
         
              <!-- Hides information from screen readers -->
                <span class="sr-only"></span>
         
                <!-- Draws 3 bars in navbar button when in small mode -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
           
            <div id="demo" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Home", root_path %></li>
              <% if current_user.admin? %>
              <li>               <%= link_to "Offers", offers_path %></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  More <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Projects", projects_path %></li>
                  <li><%= link_to "Clients", clients_path %></li>
                </ul>
              </li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to image_tag('avatar.png', alt: 'avatar', class: 'img-circle', style: 'width:20px; height:20px; display:inline;') + current_user.name, user_path(current_user) %></li>
              <li><%= render 'layouts/notification_panel' %></li>
              <li><%= link_to logout_path, method: "delete" do %><i class='fa fa-lg fa-sign-out'></i> Log out <% end %> </li>
            </ul>
        </div>
    </div>
</nav>
<div style="height:60px;"></div>