<script> $(document).ready(function(){ 
    $("#notification_popover").webuiPopover({title:'Notifications'}); });
</script>
<% notifications = current_user.notifications %>
<a href="#" id="notification_popover" style="<% if notifications.any? %> background-color:red;<% end %> color:white;" data-toggle="dropdown"><%= notifications.count %> <i class="fa fa-lg fa-bell-o"></i></a>
    
<div class="webui-popover-content">
    
    <% if notifications.any? %>
    <ul class="notification-bar">
        <% notifications.each do |notification| %>
            <li> <%= link_to notification_path(notification) do %>
                <header>
                    <div class="notification-date"><%= notification.date %></div>
                    <i class="fa fa-<%= notification.icon %>"></i>
                    <span class="notification-title"><%= notification.title %></span>
                </header>
                <div class="notification-content"><%= notification.content %></div>
            <% end %>
            </li>
        <% end %>
    </ul>
    <% else %>
    <div class="notification-empty"><span class="label label-primary">No new notifications</span></div>

    <% end %>
    <% old_notifications = current_user.notifications.unscoped.where(seen: true, date: Date.today) %>
    <% if old_notifications.any? %>
    <div class="notification-show-more">
        <a href="#oldNotifications" data-toggle="collapse">
            show <%= pluralize(old_notifications.count, "read notification") %>
        </a>
    </div>
    <ul class="notification-bar collapse" id="oldNotifications" style="opacity:0.6;">
        <% old_notifications.each do |notification| %>
            <li> <%= link_to notification_path(notification) do %>
                <header>
                    <div class="notification-date"><%= notification.date %></div>
                    <i class="fa fa-<%= notification.icon %>"></i>
                    <span class="notification-title"><%= notification.title %></span>
                </header>
                <div class="notification-content"><%= notification.content %></div>
            <% end %>
            </li>
        <% end %>
    </ul>
    <% end %>
    
</div>
